.topnav {
      overflow: hidden;
      padding: 10px 15px;
    }
    
    .topnav a {
      float: left;
      color: #6b6a6a;
      text-align: center;
      padding: 4px 16px;
      text-decoration: none;
    }
    
    .topnav a:hover {
      color: black;
    }
    

    .rightnav {
      float: right;
      font-size: 20px;
    }


    .leftnav{
          font-size: 29px;
    }